.all-beer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 3rem;
  gap: 3rem;
}

.all-beer img {
  width: 100%;
  height: 35vw;
  object-fit: contain;
}

.beer-item {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.beer-item h2 {
  font-size: 3rem;
  color: rgb(253, 221, 139);
}

.beer-item h3 {
  font-size: 1.6rem;
}

.beer-item h4 {
  font-size: 1.6rem;
}

.beer-item h4 span {
  color: rgb(253, 221, 139);
  text-decoration: underline;
}

.link-beer-detail {
  text-decoration: none;
  font-size: 2rem;
  background: rgb(253, 221, 139);
  border: 1px solid rgb(253, 221, 139);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.beer-container {
  text-decoration: none;
}
