nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.logo-img {
  width: 10%;
}

.logo-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  text-decoration: none;
}

h1 {
  font-size: 5rem;
}
